<div class="container">
    <h1>Edit Chapter</h1>
    <div class="row p-4">
        <div class="col-md-10">
            <form action="/admin/chapters/edit/{{chapter._id}}?newMethod=PUT" method="post">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" name="title" id="title" value="{{chapter.title}}"></input>
                </div>
                <div class="form-group">
                    <label for="position">Position (This reflects the order in which post will be displayed)</label>
                    <input type="number" class="form-control" name="position" id="position" value="{{chapter.position}}"></input>
                </div>
                <div class="form-group">
                    <label for="subject">Subject</label>
                    <select name="subject" id="subject" class="form-control">
                        {{#select chapter.subject}}
                            {{#each subjects}}
                                <option value="{{_id}}">{{level.title}} {{title}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                </div>
                
                <button class="btn btn-outline-warning btn-lg" type="submit">Edit Chapter</button>
            </form>
        </div>
    </div>
</div>