<div class="container">
    <h1>Edit Post</h1>
    <div class="row p-4">
        <div class="col-md-10">
            <form action="/admin/posts/edit/{{post._id}}?newMethod=PUT" method="post">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" name="title" id="title" value="{{post.title}}" required></input>
                </div>
                <div class="form-group">
                    <label for="position">Position (This reflects the order in which post will be displayed)</label>
                    <input type="number" class="form-control" name="position" id="position" value="{{post.position}}" required></input>
                </div>
                <div class="form-group">
                    <label for="status">Status</label>
                    <select name="status" id="status" class="form-control" required>
                        <option value="{{post.status}}" selected>{{post.status}}</option>
                        <option value="public">Public</option>
                        <option value="private">Private</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="chapter">Chapter</label>
                    <select name="chapter" id="chapter" class="form-control" required>
                        <option value="{{post.chapter._id}}">{{post.chapter.subject.level.title}} {{post.chapter.subject.title}}: {{post.chapter.title}}</option>
                        {{#each Chapters}}
                            <option value="{{_id}}">{{subject.level.title}} {{subject.title}}: {{title}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" id="description" class="form-control" rows="10" required>{{post.description}}</textarea>
                </div>
                <button class="btn btn-outline-warning btn-lg" type="submit">Edit Post</button>
            </form>
        </div>
    </div>
</div>